# Data Science Tools and Ecosystem

## Author

Shira

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for data science
* List commonly used libraries in data science
* Test simple arithmetic expressions in pythin

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. TensorFlow

| Data Science Tools |
-----
| Jupyter Notebook |
| Pytorch |
| Seaborn |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335